this.hot = {
	EMAIL: "lalc@doushio.com",
	TITLES: {
		moe: "/moe/ - Sweets",
		gar: "/gar/ - Hard Work &amp; Guts",
		meta: "/meta/ - The Abyss",
		archive: "/archive/",
		graveyard: "/graveyard/",
		staff: "/staff/",
	},
	/* Default theme to use on each board */
	BOARD_CSS: {
		moe: 'moe',
		gar: 'gar',
		meta: 'mawaru',
		archive: 'archive',
    reien: 'reien',
		graveyard: 'mawaru',
		staff: 'moe',
	},
  /* Header links */
  TOPLINK: {
    tea: '[ <a href="/" target="_top">Home</a> ] [ <a href="/tea/way/" target="_top">Way</a> ]',
    magic: '[ <a href="/manual/" target="_top">Manual</a> ]',
  },

	/* Bump this version whenever you change base.css */
	BASE_CSS_VERSION: 55,
	/* Bump this version whenever you modify any existing theme CSS */
	THEME_CSS_VERSION: 13,

	INTER_BOARD_NAVIGATION: true,

  CURFEW_LIFTED: true,

	SPECIAL_TRIPCODES: {
		kyubey: "／人◕ ‿‿ ◕人＼",
	},
};
