body {
	background: #edeaf1;
	font-family: "MS Pゴシック", "MS PGothic", "Mona", "Hiragino Kaku Gothic Pro";
	font-size: 16pt;
}
div {
	color: #202c30;
	margin-top: 100px;
	text-align: center;
	text-shadow: #020 1px 1px 10px;
  cursor: default;
}
